In [3]:
import pandas as pd

In [4]:
import numpy as np

In [13]:
ser = pd.Series([1,'Gowtham',2,'Vignesh',3,4,5])

In [14]:
ser

0          1
1    Gowtham
2          2
3    Vignesh
4          3
5          4
6          5
dtype: object

In [18]:
ser.dtypes

dtype('O')

In [20]:
dates = pd.date_range('20200101',periods=10)

In [21]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10'],
              dtype='datetime64[ns]', freq='D')

In [71]:
d = pd.date_range(start = '01-01-2016' , end = '31-12-2020',periods=1, tz='Europe/Amsterdam')

In [72]:
d

DatetimeIndex(['2016-01-01 00:00:00+01:00'], dtype='datetime64[ns, Europe/Amsterdam]', freq=None)

In [95]:
df2=pd.DataFrame({'A': 1.,
'B': pd.Timestamp('20130102'),
'C': pd.Series(1, index=list(range(4)), dtype='float32'),
'D': np.array([4] * 4, dtype='int32'),
'E': pd.Categorical(["test", "train", "test", "train"]),
'F': 'foo'})

In [96]:
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  4   test  foo
1  1.0 2013-01-02  1.0  4  train  foo
2  1.0 2013-01-02  1.0  4   test  foo
3  1.0 2013-01-02  1.0  4  train  foo

In [106]:
colors = ["red", "green", "blue", "purple"]
for i in colors:
    print(colors)

['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']
['red', 'green', 'blue', 'purple']

In [107]:
range()

range(0, 4)

In [110]:
presidents = ["Washington", "Adams", "Jefferson", "Madison", "Monroe", "Adams", "Jackson"]
for num, name in enumerate(presidents,start=1):
    print("President {}: {}".format(num, name))

President 1: Washington
President 2: Adams
President 3: Jefferson
President 4: Madison
President 5: Monroe
President 6: Adams
President 7: Jackson

In [112]:
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]
for i, color in enumerate(colors):
    print("{}% {}".format(ratios[i] * 100, color))

20.0% red
30.0% green
10.0% blue
40.0% purple

In [113]:
colors = ["red", "green", "blue", "purple"]
ratios = [0.2, 0.3, 0.1, 0.4]
for color, ratio in zip(colors, ratios):
    print("{}% {}".format(ratio * 100, color))

20.0% red
30.0% green
10.0% blue
40.0% purple

In [14]:
import pandas as pd

a=[1,2,3,3]
s=pd.Series(a)

In [15]:
import numpy as np

In [12]:
pd.Series({'A': 1,
          'B': np.array([5])})

A      1
B    [5]
dtype: object

In [13]:
a

[1, 2, 3, 3]

In [16]:
s

0    1
1    2
2    3
3    3
dtype: int64

In [24]:
#Pandas series Attributes. Attribites doesn't uses '()' and

SyntaxError: invalid syntax (<ipython-input-24-dfacb51a7d0d>, line 1)

In [21]:
s.values

array([1, 2, 3, 3], dtype=int64)

In [22]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [23]:
s.dtype

dtype('int64')

In [ ]:
#Pandas series Methods. Methods uses '()' and does some funtionality

In [25]:
f = pd.Series([1.0,2.0,3.0,4.0])

In [26]:
f

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [27]:
f.product()

24.0

In [28]:
f.mean()

2.5

In [ ]:
# Series with Aruguments and Parameters

In [29]:
Name = ['R','Gowtham','Vignesh']

In [30]:
No = [1,2,3]

In [32]:
pd.Series(data = Name,index = No)

1          R
2    Gowtham
3    Vignesh
dtype: object

#series

In [66]:
#Series with importing CSV and differenr methods in Series

In [41]:
series_df =pd.read_csv("C:/Users/gowtham/Desktop/corona_dataset.csv",usecols=['Lat'],squeeze = True)

In [42]:
series_df.head(3)

0    33.0000
1    41.1533
2    28.0339
Name: Lat, dtype: float64

In [44]:
series_df.tail(3)

8    -35.4735
9    -33.8688
10   -12.4634
Name: Lat, dtype: float64

In [45]:
list(series_df)

[33.0,
 41.1533,
 28.0339,
 42.5063,
 -11.2027,
 17.0608,
 -38.4161,
 40.0691,
 -35.4735,
 -33.8688,
 -12.4634]

In [46]:
dict(series_df)

{0: 33.0,
 1: 41.1533,
 2: 28.0339,
 3: 42.5063,
 4: -11.2027,
 5: 17.0608,
 6: -38.4161,
 7: 40.0691,
 8: -35.4735,
 9: -33.8688,
 10: -12.4634}

In [47]:
len(series_df)

11

In [48]:
sorted(series_df)

[-38.4161,
 -35.4735,
 -33.8688,
 -12.4634,
 -11.2027,
 17.0608,
 28.0339,
 33.0,
 40.0691,
 41.1533,
 42.5063]

In [50]:
max(series_df)

42.5063

In [51]:
min(series_df)

-38.4161

In [ ]:
#Ser

In [52]:
series_df.ndim

1

In [54]:
series_df.shape
series_df

(11,)

In [55]:
series_df.size

11

In [56]:
series_df.dtype

dtype('float64')

In [57]:
series_df.name

'Lat'

In [58]:
series_df.name = "Latitude"

In [59]:
series_df.name

'Latitude'

In [65]:
series_df.nunique()

11

In [64]:
series_df.values

array([ 33.    ,  41.1533,  28.0339,  42.5063, -11.2027,  17.0608,
       -38.4161,  40.0691, -35.4735, -33.8688, -12.4634])

In [ ]:
# sort_values

In [67]:
series_df =pd.read_csv("C:/Users/gowtham/Desktop/corona_dataset.csv",usecols=['Lat'],squeeze = True)

In [73]:
series_df.sort_values()

6    -38.4161
8    -35.4735
9    -33.8688
10   -12.4634
4    -11.2027
5     17.0608
2     28.0339
0     33.0000
7     40.0691
1     41.1533
3     42.5063
Name: Lat, dtype: float64

In [ ]:
#in_place parameter is assigning the new sorted series to the orignal series

In [75]:
series_df.sort_values(ascending=False,inplace=True)

In [77]:
series_df

3     42.5063
1     41.1533
7     40.0691
0     33.0000
2     28.0339
5     17.0608
4    -11.2027
10   -12.4634
9    -33.8688
8    -35.4735
6    -38.4161
Name: Lat, dtype: float64

In [ ]:
#Sort_index method is used to sort the dataset by index as ascending in default.
#This will bring back the original dataset before sort_Value methods has passed

In [78]:
series_df.sort_index()

0     33.0000
1     41.1533
2     28.0339
3     42.5063
4    -11.2027
5     17.0608
6    -38.4161
7     40.0691
8    -35.4735
9    -33.8688
10   -12.4634
Name: Lat, dtype: float64

In [79]:
#Python's 'in' Keyword

In [81]:
1 in series_df.index

True

In [83]:
33.2 in series_df.values

False

In [84]:
#Extract values from series with index position

In [94]:
series_df.sort_index(ascending=True, inplace=True)

In [95]:
series_df

0     33.0000
1     41.1533
2     28.0339
3     42.5063
4    -11.2027
5     17.0608
6    -38.4161
7     40.0691
8    -35.4735
9    -33.8688
10   -12.4634
Name: Lat, dtype: float64

In [100]:
series_df[0:-5]

0    33.0000
1    41.1533
2    28.0339
3    42.5063
4   -11.2027
5    17.0608
Name: Lat, dtype: float64

In [101]:
cleaned-#Extract values from series with index lables

In [118]:
series_df =pd.read_csv("C:/Users/gowtham/Desktop/corona_dataset.csv",usecols=['Country','state_cleaned'],index_col = ["state_cleaned"],squeeze =True)

In [119]:
series_df

state_cleaned
Kabul                                   Afghanistan
Tirana                                      Albania
Algiers                                     Algeria
Andorra la Vella                            Andorra
Luanda                                       Angola
St. John's                      Antigua and Barbuda
Buenos Aires                              Argentina
Yerevan                                     Armenia
Australian Capital Territory              Australia
New South Wales                           Australia
Northern Territory                        Australia
Name: Country, dtype: object

In [121]:
series_df['Kabul':'Luanda']

state_cleaned
Kabul               Afghanistan
Tirana                  Albania
Algiers                 Algeria
Andorra la Vella        Andorra
Luanda                   Angola
Name: Country, dtype: object

In [141]:
series_df.get(['Kabul','India'])

state_cleaned
Kabul    Afghanistan
India            NaN
Name: Country, dtype: object

In [131]:
#Python series .get() method

In [132]:
series_df.get('Tirana')

'Albania'

In [136]:
series_df.get([5,3,2,20],default = 'Not a valid Entry')

'Not a valid Entry'

In [137]:
series_df.get(0)

'Afghanistan'

In [ ]:
#Math methods available in series , for additional methods refer to pandas documentation

In [146]:
series_df =pd.read_csv("C:/Users/gowtham/Desktop/corona_dataset.csv",usecols=['Lat'],squeeze = True)

In [147]:
series_df

0     33.0000
1     41.1533
2     28.0339
3     42.5063
4    -11.2027
5     17.0608
6    -38.4161
7     40.0691
8    -35.4735
9    -33.8688
10   -12.4634
Name: Lat, dtype: float64

In [148]:
series_df.max()

42.5063

In [149]:
series_df.min()

-38.4161

In [150]:
series_df.count()

11

In [152]:
series_df.mean()

6.3999

In [153]:
series_df.median()

17.0608

In [154]:
series_df.mode()

0    -38.4161
1    -35.4735
2    -33.8688
3    -12.4634
4    -11.2027
5     17.0608
6     28.0339
7     33.0000
8     40.0691
9     41.1533
10    42.5063
dtype: float64

In [155]:
series_df.describe()

count    11.000000
mean      6.399900
std      33.141266
min     -38.416100
25%     -23.166100
50%      17.060800
75%      36.534550
max      42.506300
Name: Lat, dtype: float64

In [156]:
series_df.std()

33.14126630483513

In [157]:
# .idmax() and idmin()

In [158]:
series_df =pd.read_csv("C:/Users/gowtham/Desktop/corona_dataset.csv",usecols=['Lat'],squeeze = True)

In [159]:
series_df

0     33.0000
1     41.1533
2     28.0339
3     42.5063
4    -11.2027
5     17.0608
6    -38.4161
7     40.0691
8    -35.4735
9    -33.8688
10   -12.4634
Name: Lat, dtype: float64

In [160]:
series_df.max()

42.5063

In [162]:
series_df.idxmax()

3

In [163]:
series_df[3]

42.5063

In [164]:
series_df[series_df.idxmax()]

42.5063

In [165]:
series_df[series_df.idxmin()]

-38.4161

In [166]:
# value counts in series

In [167]:
series_df.value_counts()

-33.8688    1
 28.0339    1
-38.4161    1
 42.5063    1
 41.1533    1
-12.4634    1
 40.0691    1
-35.4735    1
 17.0608    1
-11.2027    1
 33.0000    1
Name: Lat, dtype: int64

In [168]:
series_df.value_counts(ascending= False)

-33.8688    1
 28.0339    1
-38.4161    1
 42.5063    1
 41.1533    1
-12.4634    1
 40.0691    1
-35.4735    1
 17.0608    1
-11.2027    1
 33.0000    1
Name: Lat, dtype: int64

In [170]:
# .apply() method
#it is used used to call a custom created funtion apart from the inbuild function

In [171]:
series_df

0     33.0000
1     41.1533
2     28.0339
3     42.5063
4    -11.2027
5     17.0608
6    -38.4161
7     40.0691
8    -35.4735
9    -33.8688
10   -12.4634
Name: Lat, dtype: float64

In [186]:
def ser(num):
    if num > 0:
        return "Positive"
    else:
        return "Neagtive"

In [187]:
series_df.apply(ser)

0     Positive
1     Positive
2     Positive
3     Positive
4     Neagtive
5     Positive
6     Neagtive
7     Positive
8     Neagtive
9     Neagtive
10    Neagtive
Name: Lat, dtype: object

In [193]:
series_df.apply(lambda x : x+2)

0     35.0000
1     43.1533
2     30.0339
3     44.5063
4     -9.2027
5     19.0608
6    -36.4161
7     42.0691
8    -33.4735
9    -31.8688
10   -10.4634
Name: Lat, dtype: float64

In [194]:
# .map() function , it is similar to apply map function in Qliksense

In [197]:
series_df =pd.read_csv("C:/Users/gowtham/Desktop/corona_dataset.csv",usecols=['Lat'],squeeze = True)

In [204]:
series_df1 =pd.read_csv("C:/Users/gowtham/Desktop/corona_dataset.csv",usecols=['Lat','state_cleaned'],index_col='Lat',squeeze =True)

In [205]:
series_df1

Lat
 33.0000                           Kabul
 41.1533                          Tirana
 28.0339                         Algiers
 42.5063                Andorra la Vella
-11.2027                          Luanda
 17.0608                      St. John's
-38.4161                    Buenos Aires
 40.0691                         Yerevan
-35.4735    Australian Capital Territory
-33.8688                 New South Wales
-12.4634              Northern Territory
Name: state_cleaned, dtype: object

In [206]:
series_df.map(series_df1)

0                            Kabul
1                           Tirana
2                          Algiers
3                 Andorra la Vella
4                           Luanda
5                       St. John's
6                     Buenos Aires
7                          Yerevan
8     Australian Capital Territory
9                  New South Wales
10              Northern Territory
Name: Lat, dtype: object